<div class="w-3/4 mx-auto">
<div class="grid grid-cols-2 gap-8">
  <% @bookmarks.each do |bookmark| %>
    <div class="mx-auto bg-white rounded-lg shadow-lg overflow-hidden content-between mb-6">

        <%# class="transition ease-in-out delay-150 flex-none pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125" %>

        <%# <%= render "shared/simple_card", route: bookmark.route %>

      <a href="routes/<%= bookmark.route.id %>" class="space-y-4">
        <img
          class="object-cover shadow-md hover:shadow-xl"
          src="https://source.unsplash.com/random/1200x800/?<%= bookmark.route.days.first.city %>"
          alt="Image of city"
          <%# width="500"
          height="600" %>
        >
        <div class="px-8 py-4">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              <%= bookmark.route.destination %>
            </h3>
          </div>
          <div>
            <% bookmark.route.days.each do |day| %>
            <p>
                <%= day.city %> - <%= day.name %>
            </p>
            <% end %>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>

      <div class="text-center pb-4 align-bottom">
        <% if bookmark.booking == nil %>
          <div class="place-items-center">
          <!-- Modal toggle -->
          <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="mt-5 text-white bg-mainYellow hover:bg-darkerYellow focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Book!
          </button>
          </div>
          <!-- Main modal -->
          <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
              <div class="relative w-1/3 h-full min-w-1/2 md:h-auto">
                  <!-- Modal content -->
                <%= render "bookings/booking_modal", bookmark: bookmark %>
              </div>
          </div>

        <% else %>
          <div class="">
            <p class="block text-black bg-grey-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
              You have already booked this trip!
            </p>
            <%= link_to "Cancel Booking", booking_path(bookmark.booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?", class: "block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
