<div class="bg-gray-100 min-h-screen">
  <div class="max-w-4xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h1 class="text-lg leading-6 font-medium text-gray-900">Booking successful!</h1>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <% @route.days.each do |day|%>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">
                <%= day.name_hotel %>, <%= day.city %>
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <div class="flex justify-between">
                  <span>
                    <%= day.start_date.strftime("%A, %B %d, %Y") %> -
                    <%= day.end_date.strftime("%A, %B %d, %Y") %>
                  </span>
                  <span class="font-bold text-gray-700">
                    €<%= day.price %>
                  </span>
                </div>
              </dd>
            </div>
          <% end %>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">
              Total price
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 font-bold">
              €<%=@route.total_price%>
            </dd>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">
              Trip period
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 font-bold">
              <%= @route.start_date.strftime("%A, %B %d, %Y") %> -
              <%= @route.end_date.strftime("%A, %B %d, %Y") %>
            </dd>
          </div>
        </dl>
      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= link_to bookings_path, class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
          <i class="fa-solid fa-calendar-days mr-2"></i>
          View My Bookings
        <% end %>
      </div>
      <div class="px-4 py-5 sm:p-0">
        <h1 class="text-lg leading-6 font-medium text-gray-900 mb-4">Pack Advice for: <%= @route.destination %></h1>
        <p class="text-gray-700

