<section id="main-banner" style="overflow: hidden;">
  <div class="h-screen" style="background-image: url(<%= asset_path 'balloons-brackground.jpg' %>); background-size: cover;">
      <%= simple_form_for @route, html: { class: "absolute left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center bg-mainYellow p-4 rounded-full hover:shadow-2xl" }, data: { controller: 'flatpickr'}  do |f| %>
        <div class="relative px-2">
          <%= f.input :budget, as: :string, input_html: {class:"bg-gray-50 border border-gray-50 text-gray-900 font-semibold text-sm rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5"}, label: false, placeholder: "Budget (€)"%>
        </div>
        <div date-rangepicker class="flex items-center">
        <div class="relative px-2">
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" }, class: "bg-gray-50 border border-gray-50 text-gray-900 font-semibold text-sm rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", id:'start_date'}, label: false, placeholder:"From" %>
        </div>
        <div class="relative px-2">
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, class: "bg-gray-50 border border-gray-50 text-gray-900 font-semibold text-sm rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", id:'end_date'}, label: false, placeholder:"To" %>
        </div>
      </div>
      <%= f.button :button, class: "p-2.5 ml-2 text-sm font-medium text-mainYellow bg-white hover:bg-darkerYellow rounded-full border focus:ring-4 focus:outline-none focus:ring-blue-300" do %>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      <% end %>
    <% end %>
    <%= render "shared/hero" %>
  </div>
</section>
