<section id="main-banner">
  <div class="h-screen" style="background-image: url(<%= asset_path 'balloons-brackground.jpg' %>); background-size: cover;">  <%# not displaying %>
      <%# <img src="/images/background-1.jpg"/> to be put as background of DIV %>
      <%= simple_form_for @route, html: { class: "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center" }, data: { controller: 'flatpickr'}  do |f| %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 112.5V422.3c0 18 10.1 35 27 41.3c87 32.5 174 10.3 261-11.9c79.8-20.3 159.6-40.7 239.3-18.9c23 6.3 48.7-9.5 48.7-33.4V89.7c0-18-10.1-35-27-41.3C462 15.9 375 38.1 288 60.3C208.2 80.6 128.4 100.9 48.7 79.1C25.6 72.8 0 88.6 0 112.5zM288 352c-44.2 0-80-43-80-96s35.8-96 80-96s80 43 80 96s-35.8 96-80 96zM64 352c35.3 0 64 28.7 64 64H64V352zm64-208c0 35.3-28.7 64-64 64V144h64zM512 304v64H448c0-35.3 28.7-64 64-64zM448 96h64v64c-35.3 0-64-28.7-64-64z"/></svg>
          </div>
          <%= f.input :budget, as: :string, input_html: {class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-darkerYellow focus:border-darkerYellow focus:placeholder-darkerYellow block w-full pl-10 p-2.5"}, label: false, placeholder: "Budget"%>
        </div>
        <div date-rangepicker class="flex items-center">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-darkerYellow focus:border-darkerYellow focus:placeholder-darkerYellow block w-full pl-10 p-2.5", id:'start_date'}, label: false, placeholder:"From" %>

          <%# <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-darkerYellow focus:border-darkerYellow focus:placeholder-darkerYellow block w-full pl-10 p-2.5" placeholder="From" required data-date-target="dateStart" data-action="click->date#changeToCal"> %>
        </div>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-darkerYellow focus:border-darkerYellow focus:placeholder-darkerYellow block w-full pl-10 p-2.5", id:'end_date'}, label: false, placeholder:"To" %>

          <%# <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-darkerYellow focus:border-darkerYellow focus:placeholder-darkerYellow block w-full pl-10 p-2.5" placeholder="To" required data-date-target="dateEnd" data-action="click->date#changeToCal"> %>
        </div>
      </div>
      <%= f.button :button, class: "p-2.5 ml-2 text-sm font-medium text-white bg-mainYellow hover:bg-darkerYellow rounded-full border focus:ring-4 focus:outline-none focus:ring-blue-300" do %>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      <% end %>
    <% end %>
  </div>
</section>
