
  <a href="routes/<%= route.id %>" class="space-y-4 shadow-lg">
    <img
      class="object-cover shadow-md hover:shadow-xl"
      src="https://source.unsplash.com/random/1200x800/?#<%= route.days.first.city %>"
      alt="Image of city"
      width="500"
      height="600"
    >
    <div class="px-4 py-2">
      <div class="text-lg leading-6 font-medium space-y-1">
        <h3 class="font-bold text-gray-800 mb-2">
          <%= route.destination %>
        </h3>
      </div>
      <div class="">
        <% route.days.each do |day| %>
        <p class="">
            <%= day.city %> - <%= day.name %>
        </p>
        <% end %>
        <p class="font-medium text-sm text-darkerYellow mt-2">
          Explore<span class="text-darkerYellow">&hellip;</span>
        </p>
      </div>
    </div>
  </a>
