<!-- component -->
<nav class="w-full flex justify-between items-center mx-auto px-16 h-16 navbar transition duration-1000 z-10" id="navbar">
    <!-- logo -->
    <div class="inline-flex navbar-element transition duration-1000">
        <a href="/">
          <div class="hidden md:block">
            <%= image_tag("tabinav-darkorange.svg", display: 'block', width: '100', height: '32')%>
          </div>
            <div class="block md:hidden">
              <%= image_tag("t-darkorange.svg", display: 'block', width: '30', height: '32')%>
            </div>
        </a>
    </div>
    <!-- end logo -->

    <!-- login -->
    <div class="flex-initial navbar-element transition duration-1000">
      <div class="flex justify-end items-center relative">

        <div class="flex mr-4 items-center">
          <% if user_signed_in? %>
            <a class="inline-block font-bold transition duration-500 hidden md:block py-2 px-3 text-darkerYellow hover:bg-darkerYellow hover:text-white rounded-lg" href="/bookmarks">
              <div class="flex items-center relative cursor-pointer whitespace-nowrap">My bookmarks</div>
            </a>
            <a class="inline-block font-bold transition duration-500 hidden md:block mx-5 py-2 px-3 text-darkerYellow border-2 border-darkerYellow hover:bg-darkerYellow hover:text-white rounded-lg" href="/bookings">
              <div class="flex items-center relative cursor-pointer whitespace-nowrap">My bookings</div>
            </a>

            <div class="block">
              <div class="inline relative">
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="text-black bg-white font-medium rounded-full text-sm relative text-center inline-flex items-center" type="button">
                <!-- Dropdown menu -->
                  <div class="flex-grow-0 flex-shrink-0 h-10 w-10"> <%# replace with IMG %>
                    <img class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
                  </div>
                  <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md hover:shadow-xl max-w-xs">
                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                      </li>
                      <li>
                        <%= link_to "Edit profile", edit_user_registration_path, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                      </li>
                      <li>
                        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                        <%# <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a> %>
                      </li>
                    </ul>
                  </div>
                </button>
              </div>
            </div>
          <% else %>
            <a class="inline-block hidden md:block mr-5 py-2 px-3 text-mainYellow border border-mainYellow hover:bg-darkerYellow hover:text-white rounded-full" href="/users/sign_up">
              <div class="flex items-center relative cursor-pointer whitespace-nowrap">Sign up</div>
            </a>
            <a class="inline-block hidden md:block py-2 px-3 text-white bg-mainYellow border border-mainYellow hover:bg-darkerYellow rounded-full" href="/users/sign_in">
              <div class="flex items-center relative cursor-pointer whitespace-nowrap">Sign in</div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
</nav>


<section id="main-banner" class="h-screen flex items-center justify-center bg-darkerYellow">
  <div class="max-w-5xl mx-auto text-center -mt-40">
    <div id="main-content" class="hover:scale-125 transition duration-1000 ease-in-out">
      <h1 class="text-9xl font-bold">
      <%# Needed for TypedJS on front page %>
      <span data-controller="typed-js"></span>
      <%# data-typed-js-target="text" %>
        <%# <u>A<span class="text-mainYellow">I</span></u>mazing trips %>
      </h1>
      <%= simple_form_for @route, html: { class: "mt-16 flex items-center bg-white p-2 rounded-full hover:shadow-2xl" }, data: { controller: 'flatpickr'}  do |f| %>
        <div class="relative px-2">
          <%= f.input :budget, as: :float, required: true, input_html: {class:"border border-gray-50 text-gray-900 font-semibold rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", autocomplete:"off", id:"budgetInput"}, label: false, placeholder: "Budget (€)"%>
        </div>
        <div date-rangepicker class="flex items-center">
          <div class="relative px-2">
            <%= f.input :start_date, as: :string, required: true, input_html: { data: { flatpickr_target: "startDate" }, class: "border border-gray-50 text-gray-900 font-semibold rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", id:'start_date'}, label: false, placeholder:"From" %>
          </div>
          <div class="relative px-2">
            <%= f.input :end_date, as: :string, required: true, input_html: { data: { flatpickr_target: "endDate" }, class: "border border-gray-50 text-gray-900 font-semibold rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", id:'end_date'}, label: false, placeholder:"To" %>
          </div>
        </div>
        <div class="relative px-2">
        <%= f.input :destination, as: :string, placeholder: "Anywhere", input_html: {class: "border border-gray-50 text-gray-900 font-semibold rounded-full focus:border-gray-50 placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5 font-bold", autocomplete:"off", id:'destination'}, label: false %>
        </div>
        <div class="relative px-2">
          <%= f.input :no_of_people, as: :integer, input_html: {class:"border border-gray-50 text-gray-900 font-semibold rounded-full focus:border-gray-50 focus:placeholder-black focus:ring-gray-50 block w-full pl-10 p-2.5", autocomplete:"off", id:"PeopleInput"}, label: false, placeholder: "2 people"%>
        </div>
      <div data-controller="animation">
        <%= f.button :button, class: "searchbar p-2.5 ml-2 text-sm font-medium text-mainYellow hover:text-white bg-white hover:bg-darkerYellow rounded-full border" do%>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        <% end %>
      </div>
    <% end %>
      <%# <%= render "shared/hero" %>
      <div id="powered_ by" class="transition duration-1000 ease-in-out opacity-0 inline-flex items-center pt-8">
        <p class="px-2">Powered by</p>
        <%= image_tag("openAI_logo.svg", display: 'block', width: '100', height: '32', class:"mr-4")%>
        <p class="mr-4">&</p>
        <%= image_tag("tabinav-darkgray.svg", display: 'block', width: '100', height: '32')%>
      </div>
    </div>
  </div>
</section>

<%# <%= video_tag "airport.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "w-full"
<div>

<div class="container mx-auto p-8 px-40">
  <h1 class="text-5xl font-bold py-8"> ChatGPT what's your vision on Tabinav?</h1>
  <div class="">
    <div class="flex flex-wrap -mx-4">
    </div>
  </div>
</div> %>

<%= render "shared/hero" unless @routes == false %>
<div class="hidden" id="loading" style="height: 100%; position: absolute; bottom: 0; right: 0; left: 0; background-color: rgba(0, 0, 0, 0.9);">
  <div class="flex absolute justify-center items-center w-full">
    <h1 class="text-6xl font-bold px-40" style="position: absolute; top: 0; left: 0; z-index: 9999; margin-top: 40vh; color: white;" data-controller="typed-js-poem"></h1>
  </div>

  <%= video_tag "world-rotating.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "w-full h-full fixed object-cover absolute top-0 z-1"%>
  <div class="absolute inset-0 bg-gray-500 bg-opacity-50"></div>
</div>



<%# <div class="hidden" id="loading" style="height: 100%; position: absolute; bottom: 0; right: 0; left: 0; background-color: rgba(0, 0, 0, 0.9);">
  <div class="flex justify-center items-center w-full h-full z-1">
  <h1 class="text-4xl font-bold text-white" data-controller="typed-js-poem"></h1>
</div>


  <video autoplay loop muted class="w-full h-full object-cover fixed z-1">
    <source src="world-rotating.mp4" type="video/mp4">
  </video>

  <div class="absolute inset-0 bg-gray-500 bg-opacity-50"></div>
</div> %>
