<div class="sticky top-0 bg-white border-b-2 z-10">

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>


  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <div class="w-1/2">
      <h1 class="text-3xl font-bold mb-2">Your Route</h1>
      <h4 class="text-gray-600 mb-2">Your Budget: €<%= @route.budget %></h4>
      <h4 class="text-gray-600 mb-2">Total Price: €<%= @route.total_price %></h4>
      <h4 class="text-gray-600 mb-2"><%= @route.no_of_people %> People</h4>
      <h4 class="text-gray-600 mb-2"><%= @route.hotel_pref %></h4>
    </div>
    <%= simple_form_for [@route, @bookmark] do |f| %>
      <div class="flex items-center">
        <%= f.submit "Bookmark", class: "px-4 py-2 bg-mainYellow text-white rounded-lg hover:bg-darkerYellow focus:bg-darkerYellow focus:outline-none" %>
      </div>
    <% end %>
  </div>

  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="w-1/2 h-0.5 bg-gray-300"></div>
      <% @days.each do |day| %>
        <div class="flex items-center ml-4">
          <div class="w-2 h-2 rounded-full bg-mainYellow"></div>
          <h4 class="text-gray-600 font-medium text-sm ml-2"><%= day.city %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
