<%= render "shared/navbar" %>
<section id="main-banner" class="h-4/5 w-full items-center bg-black">
  <div class=" bg-transparent text-gray-100 p-16" style="cursor: auto;">
    <div class="flex flex-wrap items-center">
      <div class="flex w-full h-32 md:h-64 lg:h-72">
        <div class="w-4/12 pr-4 relative">
          <%= render "shared/map" %>
        </div>
        <div class="w-2/12 pr-4 h-full">
          <div class="flex flex-col w-full h-full">
            <div class="flex-1 pb-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-center rounded-lg bg-white">
              </div>
            </div>
            <div class="flex-1 pt-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-bottom rounded-lg bg-white">
              </div>
            </div>
          </div>
        </div>
        <div class="w-2/12 pr-4 h-full">
          <div class="flex flex-col w-full h-full">
            <div class="flex-1 pb-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-center rounded-lg bg-white">
              </div>
            </div>
            <div class="flex-1 pt-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-bottom rounded-lg bg-white">
              </div>
            </div>
          </div>
        </div>
        <div class="w-2/12 pr-4 h-full">
          <div class="flex flex-col w-full h-full">
            <div class="flex-1 pb-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-center rounded-lg bg-white">
              </div>
            </div>
            <div class="flex-1 pt-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-bottom rounded-lg bg-white">
              </div>
            </div>
          </div>
        </div>
        <div class="w-2/12 h-full">
          <div class="flex flex-col w-full h-full">
            <div class="flex-1 pb-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-center rounded-lg bg-white">
              </div>
            </div>
            <div class="flex-1 pt-2">
              <div class="w-full h-full relative">
                <img src="https://stackdiary.com/140x100.png" class="absolute top-0 w-full h-full object-cover object-bottom rounded-lg bg-white">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="w-full pt-8 flex flex-col justify-between">

        <div>

          <h4 class="text-4xl font-semibold mb-2">Your trip</h4>

          <div class="flex flex-wrap text-center pt-4 mb-2">
            <% @days.each_with_index do |day, i| %>
                <div class="mr-2 mb-2 rounded-full px-3 py-1 text-xs bg-green-400 text-green-900"><%= day.nation %></div>
            <% end %>
          </div>

          <ul class="text-xs mt-4 list-disc list-inside text-gray-50 leading-relaxed">
            <% @days.each_with_index do |day, i| %>
              <li class="text-lg font-semibold">Day <%= i + 1 %> - <%= day.city %>, <%= day.nation %></li>
            <% end %>
          </ul>
        </div>

        <div class="w-full sm:flex-1 grid gap-4 grid-cols-2 pt-6">

          <a href="https://stackdiary.com/" class="flex items-center justify-center text-center relative text-white font-bold text-sm bg-gray-200 text-gray-800 px-8 py-3 rounded-lg shadow-lg hover:shadow-none hover:opacity-75">Preview</a>

          <%= simple_form_for [@route, @bookmark] do |f| %>
            <%= f.button :submit, "Bookmark", class: "cursor-pointer w-full block text-center relative text-white font-bold text-sm bg-teal-800 px-4 py-3 rounded-lg shadow-lg hover:shadow-none hover:opacity-75" do %>
                Bookmark <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between max-w-5xl mx-auto">
</section>
<div class="max-w-5xl mx-auto pt-16">
      <% @days.each_with_index do |day, i| %>
        <div class=" border-b-2 mb-10 flex">
          <div class="w-1/2">
            <h4 class="text-2xl font-semibold mb-2">Day <%= i + 1 %> - <%= day.city %>, <%= day.nation %></h4>
            <h4 class="text-lg font-medium mb-2"><%= day.name %></h4>
            <p class="text-gray-600 mb-2"><i><%= day.description %></i></p>
            <p class="text-gray-600 font-medium"><%= day.price == 0 ? "No entrance fee" : "Entrance fee per head: €#{day.price}" %></p>
            <br>
            <div class="flex justify-between bg-darYellow">
              <h4 class="text-lg font-medium mb-2">Accommodation: <br><%= day.name_hotel %> (<%= day.no_of_rooms %> x <%= day.room_type %>)</h4>
              <div class="pt-2" >
                <p class="text-gray-600 font-medium text-end px-3">Price: €<%= day.price_hotel %></p>
                <%= simple_form_for day do |f| %>
                  <%= f.submit "Upgrade accommodation", class: "cursor-pointer transition duration-500 ml-10 px-3 py-2 text-mainYellow rounded-lg hover:bg-darkerYellow hover:text-white focus:outline-none" %>
                <% end %>
              </div>
            </div>
            <p class="text-gray-600 mb-2"><i><%= day.description_hotel %></i></p>
            <p class="text-gray-600 font-medium">Price: €<%= day.price_hotel %></p>
          </div>
          <div class="w-1/2 flex justify-end">
            <div class="rounded-lg shadow-lg p-6 h-3/4">
              <img src="https://source.unsplash.com/random/1200x800/?<%= day.city %>" alt="Image of city" width="300" height="300" class="">
              <p class="text-sm text-center pt-8"><i>Pic of <%= day.city %></i></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
