<%= render "shared/navbar" %>
<section id="main-banner" class="h-screen w-full items-center bg-black">
    <%= video_tag "airport.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "w-full h-full object-cover absolute z-0 opacity-40" %>

  <div class="container mx-auto p-8 pt-16 px-40 relative z-10" style="cursor: auto;">
    <div class="flex flex-wrap items-center">
      <div class="w-full pt-8 flex flex-col justify-between">

        <div class="flex flex-inline justify-between pb-10">
          <div>
            <h4 class="text-4xl font-semibold mb-2 text-white">Your trip</h4>
            <div class="flex flex-wrap text-center pt-4 mb-2">
              <% @days.each_with_index do |day, i| %>
                  <div class="mr-2 mb-2 rounded-full px-3 py-1 text-xs bg-darkerYellow text-white font-bold">
                    <%= day.nation %>
                  </div>
              <% end %>
            </div>
            <ul class="text-xs mt-4 list-disc list-inside text-gray-50 leading-relaxed">
              <% @days.each_with_index do |day, i| %>
                <li class="text-lg font-semibold">Day <%= i + 1 %> - <%= day.city %>, <%= day.nation %></li>
              <% end %>
            </ul>
          </div>
            <div class="w-6/12 h-96">
              <%= render "shared/map" %>
            </div>
        </div>

        <div class="w-full pt-10">
          <%= simple_form_for [@route, @bookmark] do |f| %>
            <%= f.button :submit, "Bookmark", class: "sticky top-10 cursor-pointer w-full block text-center relative text-white font-bold bg-teal-800 px-4 py-3 rounded-lg shadow-lg hover:shadow-none hover:opacity-100 opacity-75 transition duration-500 "%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto p-8 px-40">
      <% @days.each_with_index do |day, i| %>
        <div class=" border-b-2 rounded-lg mb-10 flex p-8 hover:shadow-2xl hover:scale-110 transition duration-1000 ease-in-out">
          <div class="w-1/2">
            <h4 class="text-2xl font-semibold mb-2">Day <%= i + 1 %> - <%= day.city %>, <%= day.nation %></h4>
            <h4 class="text-lg font-medium mb-2"><%= day.name %></h4>
            <p class="text-gray-600 mb-2"><i><%= day.description %></i></p>
            <p class="text-gray-600 font-medium"><%= day.price == 0 ? "No entrance fee" : "Entrance fee per head: €#{day.price}" %></p>
            <br>
            <div class="flex justify-between bg-darYellow">
              <h4 class="text-lg font-medium mb-2">Accommodation: <br><%= day.name_hotel %> (<%= day.no_of_rooms %> x <%= day.room_type %>)</h4>
              <div class="pt-2" >
                <p class="text-gray-600 font-medium text-end px-3">Price: €<%= day.price_hotel %></p>
                <%= simple_form_for day do |f| %>
                  <%= f.submit "Upgrade accommodation", class: "text-xs cursor-pointer transition duration-500 ml-10 px-3 py-2 text-mainYellow rounded-lg hover:bg-darkerYellow hover:text-white focus:outline-none" %>
                <% end %>
              </div>
            </div>
            <p class="text-gray-600 mb-2"><i><%= day.description_hotel %></i></p>
          </div>
          <div class="w-1/2 flex justify-end">
            <div class="rounded-lg shadow-lg p-6 h-3/4">
              <img src="https://source.unsplash.com/random/1200x800/?<%= day.city %>" alt="Image of city" width="300" height="300" class="">
              <p class="text-sm text-center pt-8"><i>Pic of <%= day.city %></i></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
