<%= render "shared/navbar" %>
<div class="sticky top-0 bg-white border-b-2 z-10">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
  <div class="w-1/2">
    <h1 class="text-3xl font-bold mb-2">Your Route</h1>
    <h4 class="text-gray-600 mb-2">Your Budget: €<%= @route.budget %></h4>
    <h4 class="text-gray-600 mb-2">Total Price: €<%= @route.total_price %></h4>
  </div>
    <%= simple_form_for [@route, @bookmark] do |f| %>
      <div class="flex items-center">
        <%= f.submit "Bookmark", class: "px-4 py-2 bg-mainYellow text-white rounded-lg hover:bg-darkerYellow focus:bg-darkerYellow focus:outline-none" %>
      </div>
    <% end %>
  </div>

  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="w-1/2 h-0.5 bg-gray-300"></div>
      <% @days.each do |day| %>
        <div class="flex items-center ml-4">
          <div class="w-2 h-2 rounded-full bg-mainYellow"></div>
          <h4 class="text-gray-600 font-medium text-sm ml-2"><%= day.city %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 mt-20">
  <% @days.each_with_index do |day, i| %>
    <div class="my-6 border-b-2 pb-6 flex">
      <div class="w-1/2">
        <h4 class="text-2xl font-semibold mb-2">Day <%= i + 1 %> - <%= day.city %>, <%= day.nation %></h4>
        <h4 class="text-lg font-medium mb-2"><%= day.name %></h4>
        <p class="text-gray-600 mb-2"><%= day.description %></p>
        <p class="text-gray-600 font-medium"><%= day.price == 0 ? "No entrance fee" : "Entrance fee: €#{day.price}" %></p>
        <br>
        <h4 class="text-lg font-medium mb-2">Accommodation: <%= day.name_hotel %></h4>
        <p class="text-gray-600 mb-2"><%= day.description_hotel %></p>
        <p class="text-gray-600 font-medium">Price: €<%= day.price_hotel %></p>
        <%= simple_form_for day do |f| %>
          <%= f.submit "Upgrade Accommodation", class: "my-4 px-4 py-2 bg-mainYellow text-white rounded-lg hover:bg-darkerYellow focus:bg-darkerYellow focus:outline-none" %>
        <% end %>
      </div>
      <div class="w-1/2 flex justify-end">
        <div class="max-w-md rounded-lg shadow-lg p-6">
          <img src="https://source.unsplash.com/random/1200x800/?<%= day.city %>" alt="Image of city" width="500" height="600">
        </div>
      </div>
    </div>
  <% end %>
  <div class=" h-96 flex items-center">
    <div class=" h-full w-full">
      <%= render "shared/map" %>
    </div>
  </div>
</div>
